#pickup{
    width: 80%;
    
    margin-left: 50px;
}
#date{
    width: 80%;
    
    margin-left: 50px;
}
#hint{
    color: azure;
}
.check-credentials-book{
    border-radius: 10px;
    margin: auto;
    height: 500px;
    width: 130%;
    background-color: rgb(12, 12, 12);
}
#btnbookbackground{
    color:white;
    margin-left: 120px;
    align-content: center;
    color:rgb(11, 8, 13)
}
#b{
    color:red;
}
#main{
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.footer{
    padding: 25px;
    height: 100px;
    background-color: black;

}
#footerp{
    color:white;
    font-weight: bold;
    
}
#main{
    background-color:rgb(250, 247, 247);
}