#pc{
    border-radius: 10px;
    margin: auto;
    height: 500px;
    width: 130%;
    background-color: rgb(12, 12, 12);
}
#card{
    border-radius: 10px;
    margin: auto;
    height: 500px;
    width: 130%;
    background-color: rgb(12, 12, 12);
}